<h1>Reservation Details</h1>
    <div>
        <p>Name: <%= reservation.name %></p>
        <p>Date: <%= reservation.tanggalReservation %></p>
        <p>No HP: <%= reservation.noHP %></p>
        <p>Waktu Mulai: <%= reservation.waktuMulai %></p>
        <p>wWaktu Selesai: <%= reservation.waktuSelesai %></p>
        <p>Total Harga: <%= reservation.totalHarga %></p>
        <p>Jumlah Orang: <%= reservation.jumlahOrang %></p>
        <!-- Add more details as needed -->
    </div>