<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Transaksi</title>
    
</head>
<body>
    <div class="container">
        <div class="reservation-details">
            <h2>Detail Reservasi</h2>
            <p>Nama: <%= newReservation.name %></p>
            <p>Jumlah Orang: <%= newReservation.jumlahOrang %></p>
            <p>No HP: <%= newReservation.noHP %></p>
            <p>Tanggal Reservasi: <%= newReservation.tanggalReservation %></p>
            <p>Waktu Mulai: <%= newReservation.waktuMulai %></p>
            <p>Waktu Selesai: <%= newReservation.waktuSelesai %></p>
            <p>Total Harga: <%= newReservation.totalHarga %></p>
        </div>
    </div>

</body>
</html>